*{
    padding: 0;
    margin: 0;

}

#bg{
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 98%;
    filter: blur(2px);
    filter: brightness(50%);
}

#headmain{
    font-family: 'Changa One', cursive;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 390px;
    font-size: 70px;
    height: 0px;
    color: fff;
    transition: .4s;
    text-shadow: -4px -4px 100px red;
    text-decoration: none;
}

#headurl{
    text-decoration: none;
    color: white;
}

#headbottom{
    font-family: 'Aileron thin';
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 294px;
    font-size: 24px;
    height: 0px;
    color: fff;
}
#headmain:hover{
    text-shadow: 4px 4px 100px darkblue;
}

.headingabt{
    text-align: center;
    height: 100px;
    position: relative;
    top: 50px;
    font-family: 'Arial Rounded MT';
    font-size: 70px;
}
.aboutme{
    position: relative;
    display: flexbox;
    justify-content: center;
    text-align: center;
    top: 70px;
    font-family: 'Arial';
    font-size: 24px;
    overflow: hidden;
    height: 400px;
    width: 86%;
    margin: auto;
}

.me{
    width: 100%;
    height: 100vh;
    background-image: url('pexels-miguel-á-padriñán-255379.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.me img{
    height: 30%;
    border-radius: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    width: 80%;
    max-width: 450px;
    height: 400px;
    color: fff;
    text-align: center;
    padding: 50x 35x;
    border: 2px solid rgb(255,255,255,0.3);
    filter: brightness(99%);
    box-shadow: 6px 7px 60px rgb(119, 148, 247);
    border-radius: 14px;
    transition: .5s;
    text-decoration: none;
}

.card:hover{
    max-width: 463px;
    height: 413px;
}

.eh{
    position: relative;
    bottom: 60px;
    color: black;
    
}
.card h2{
    font-family: 'Rusty cola pen';
    bottom: 70px;
    font-size: 30px;
}
.card p{
    font-family: Arial, Helvetica, sans-serif;
    bottom: 67px;
}

@media only screen and (max-width: 750px) {
    .headingabt{
        height: 170px;
    }
}

@media only screen and (max-width: 400px) {
    .headingabt{
        height: 200px;
    }
}
