*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#buildingimg{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content:  center;
    filter: blur(4px);
    filter: opacity(75%);
    transition: 2s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#buildingimg::after{
    filter: blur(40px);
}


#logo1{
    position: absolute;
    width: 100%;
    
}

.row{
    position: relative;
    filter: opacity(100%);
    justify-content: center;
    height: 70%;
    width: 80%;
    left: 10%;
    top: 170px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33.3%;
    
    padding: 40px 10px;
}
  
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 25px;
    text-align: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-family: 'Coming Soon', cursive;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

#Darkmode{
    background-color: pink;
    color: rebeccapurple;
}


@media only screen and (max-width: 600px) {
    #buildingimg{
        position: absolute;
    }
    #logo1{
        position: absolute;
        top: 50px;
        height: 90px;
    }
    .card{
        font-size: small;
    }
}
@media screen and (max-width: 600px) {
    .column {
      width: 33.3%;
      display: block;
      margin-bottom: 20px;
    }
}
